<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="base/base :: base_head" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>应用服务</title>
    <link rel="stylesheet" type="text/css"
          data-th-href="@{/static/styles/css/common.css}" />
    <script type="text/javascript"
            data-th-src="@{/static/scripts/main/ApplicationServiceView.js}"></script>
    <script type="text/javascript"
            data-th-src="@{/static/lang/lang_zh_CN.js}"></script>
    <script type="text/javascript">
        EUI.onReady(function () {
             new EUI.ApplicationServiceView({
                renderTo: "content"
            });
        });
    </script>
</head>
<body>
<div id="content" style="background-color: white"></div>
</body>
</html>