.ecmp-common-edit {
    cursor: pointer;
}
.ecmp-common-delete {
    cursor: pointer;
}
.ecmp-common-configuration,.ecmp-flow-end,.ecmp-flow-start {
    cursor: pointer;
}
.icon-space{
    margin-right: 10px;
}
.ecmp-flow-end {
    margin-right: 14px;
}
.configtitle > div {
    background: #fff;
    color: #333;
    display: inline-block;
    padding: 4px 0px;
    width: 170px
}

.configtitle .must-input {
    color: red;
    margin-left: 10px;
    font-family: "����", Arial, sans-serif;
}

.custom-button {
    border-bottom: 1px solid #c1c1c1;
    color: #555;
    cursor: pointer;
    display: inline-block;
    font: 14px/2 ����;
    height: 28px;
    margin-left: 10px;
    padding: 0 4px;
    vertical-align: middle;
    text-align: center;
}